a {
  text-decoration: none;
  color: #000000;
}

nav {
  height: 5rem;
  width: 80%;
  margin: auto;
}

.container-nav-text {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.pokemones-per-page {
  width: 80%;
  height: 4rem;
  white-space: inherit;
}

.navbar-toggler {
  border: none;
  width: 40%;
  height: 2.5rem;
  background-color: #ffffffa2;
  border-radius: 50%;
}

.navbar-toggler svg {
  width: 100%;
  height: 100%;
}

.comeback {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 2.5rem;
  background-color: #ffffffa2;
  border: none;
  border-radius: 50%;
}

.comeback svg {
  width: 80%;
  height: 80%;
}

.settings {
  margin-right: 1rem;
}

.text-center {
  text-align: center;
}

.title-theme {
  margin-bottom: 0;
}

.container-switch {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.light-theme {
  margin-right: 0.2rem;
}

.dark-theme {
  margin-left: 0.2rem;
}

.switch-button-theme {
  display: flex;
}

.switch-button-theme .switch-button__checkbox-theme {
  display: none;
}

.switch-button-theme .switch-button__label-theme {
  background-color: #f9d923;
  width: 2rem;
  height: 1rem;
  border-radius: 3rem;
  display: inline-block;
  position: relative;
}

.switch-button-theme .switch-button__label-theme:before {
  transition: 0.2s;
  display: block;
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: #fdffff;
  content: "";
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 1px #000000;
}

.switch-button-theme
  .switch-button__checkbox-theme:checked
  + .switch-button__label-theme {
  background-color: #6c79db;
}

.switch-button-theme
  .switch-button__checkbox-theme:checked
  + .switch-button__label-theme:before {
  transform: translateX(1rem);
}
